@{

}
@using QuizFolio.ViewModels;
@model TemplateCreateViewModel;

@{
    ViewData["Title"] = "Create New Template";
}
<div class="card-header">
    <h5 class="card-title">Template Details</h5>
    <div class="card-body">
        <form asp-action="CreateTemplate" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3 form-floating">
                <input asp-for="Title" class="form-control" />
                <label asp-for="Title" class="form-label"></label>
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="mb-3 form-floating">
                <input asp-for="Description" class="form-control" />
                <label asp-for="Description" class="form-label"></label>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            
        </form>
    </div>
</div>