@{

}
@using QuizFolio.ViewModels;
@model TemplateCreateViewModel;

@{
    ViewData["Title"] = "Create New Template";
}
@if (TempData["Message"] != null)
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        @TempData["Message"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
<form asp-action="CreateTemplate" method="post">
    <div class="card-header">
        <h5 class="card-title">Template Details</h5>
        <div class="form-group">
            <label class="alert-danger" asp-for="IsPublic">Make it public?</label>
            <input asp-for="IsPublic" type="checkbox" />
        </div>
        <div class="card-body">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3 form-floating">
                <input asp-for="Title" class="form-control" />
                <label asp-for="Title" class="form-label"></label>
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="mb-3 form-floating">
                <input asp-for="Description" class="form-control" />
                <label asp-for="Description" class="form-label"></label>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
    </div>
    <br />
    <div id="questions-container">
        @for (int i = 0; i < Model.Questions.Count; i++)
        {
            <div class="question-group card-header">
                <div class="row">
                    <div class="col-8">
                        <h5 class="card-title">Question 1</h5>
                    </div>
                    <div class="col-4">
                        <div class="form-floating">
                            <select asp-for="Questions[i].QuestionType" class="form-select" asp-items="Html.GetEnumSelectList<QuestionType>()">
                                <option value="">Select Question Type</option>
                            </select>
                            <label for="Questions[i].QuestionType">Question Type</label>
                        </div>
                    </div>
                </div>

                <div class="card-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="mb-3 form-floating">
                        <input text asp-for="Questions[i].QuestionTitle" class="form-control" />
                        <label asp-for="Questions[i].QuestionTitle" class="form-label"></label>
                        <span asp-validation-for="Questions[i].QuestionTitle" class="text-danger"></span>
                    </div>

                    @if (Model.Questions[i].QuestionType != QuestionType.Text)
                    {
                        <div class="mb-3 form-floating">
                            <input text asp-for="Questions[i].Options" class="form-control" />
                            <label asp-for="Questions[i].Options" class="form-label"></label>
                            <span asp-validation-for="Questions[i].Options" class="text-danger"></span>
                        </div>
                    }

                </div>
                <div class="card-footer row">
                    <div class="form-group col-10">
                        <label asp-for="Questions[i].IsRequired"></label>
                        <input asp-for="Questions[i].IsRequired" type="checkbox" />
                    </div>
                    <button type="button" class="btn-sm col-2 btn-danger remove-question">Remove Question</button>
                </div>
            </div>
            <br />
        }
    </div>
    <div class="row">
        <button type="button" id="add-question" class="col-2 btn-sm btn-primary">Add New Question</button>
        <div class="form-group col-10">
            <button type="submit" class="btn-sm btn-success">Create Template</button>
        </div>
    </div>
</form>


@section Scripts {
    <script>
        $(document).ready(function () {
            var questionIndex = @Model.Questions.Count;
            $('#add-question').click(function () {
                var questionHtml =
                `<div class="question-group card-header">
                    <div class="row">
                        <div class="col-8">
                            <h5 class="card-title">Question ${questionIndex + 1}</h5>
                        </div>

                        <div class="col-4">
                            <div class="form-floating">
                                <select name="Questions[${questionIndex}].QuestionType" class="form-select">
                                   <option value="">Select Question Type</option>
        @foreach (var type in Enum.GetValues(typeof(QuizFolio.Models.QuestionType)).Cast<QuizFolio.Models.QuestionType>())
        {
                                            <option value="@type">@type</option>
        }
                                </select>
                                <label for="Questions[${questionIndex}].QuestionType">Question Type</label>
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="mb-3 form-floating">
                            <input name="Questions[${questionIndex}].QuestionTitle" class="form-control" />
                            <label for="Questions[${questionIndex}].QuestionTitle">Question Title</label>
                            <span asp-validation-for="Questions_${questionIndex}__QuestionTitle" class="text-danger"></span>
                        </div>

                        <div class="mb-3 form-floating">
                            <input name="Questions[${questionIndex}].Options" class="form-control" />
                            <label for="Questions[${questionIndex}].Options">Options</label>
                        </div>
                    </div>

                    <div class="card-footer row">
                        <div class="form-group col-10">
                            <label asp-for="Questions_${questionIndex}__IsRequired">IsRequired</label>
                            <input asp-for="Questions_${questionIndex}__IsRequired" type="checkbox"/>
                        </div>
                        <button type="button" class="btn-sm col-2 btn-danger remove-question">Remove Question</button>
                    </div>
                </div>`;
                $('#questions-container').append(questionHtml);
                questionIndex++;
            });

            // $(document).on('change', 'select[name*="QuestionType"]', function () {
            //     var selectedType = $(this).val();
            //     var answerOptionsDiv = $(this).closest('.question-group').find('.answer-options');
            //     if (selectedType === 'Dropdown' || selectedType === 'Radio' || selectedType === 'Checkbox') {
            //         answerOptionsDiv.show();
            //     } else {
            //         answerOptionsDiv.hide();
            //     }
            // });
            $(document).on('click', '.remove-question', function () {
                $(this).closest('.question-group').remove();
            });
        });
    </script>
}